<div class="form-wrapper">
  <div class="form-header">
    <div class="title">
      {{ 'UI.Login.Header.Title' | translate }}
    </div>
    <div class="subtitle">
      {{ 'UI.Login.Header.Subtitle' | translate }}
    </div>
  </div>
  <div class="login-form" [formGroup]="form">
    <div class="form-field">
      <mat-label class="label">{{ 'UI.Login.Username' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="username" type="text" autocomplete="false">
        <mat-error *ngIf="form.get('username')?.hasError('required')">
          <span class="text">{{ 'UI.Common.Errors.FieldRequired' | translate }}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-label class="label">{{ 'UI.Login.Password' | translate }}</mat-label>
      <mat-form-field appearance="outline">
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            <span class="text">{{ 'UI.Common.Errors.FieldRequired' | translate }}</span>
          </mat-error>
      </mat-form-field>
    </div>
    <div class="login-button-wrapper">
      <button mat-flat-button (click)="onLogin()" class="login-button">{{ 'UI.Login.Login' | translate }}</button>
    </div>
    <mat-error [style.visibility]="form.hasError('invalidCredentials') ? 'visible' : 'hidden'">
      <span class="text">{{ 'UI.Common.Errors.InvalidCredentials' | translate }}</span>
    </mat-error>
  </div>
</div>
