

<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="language-selector">
      <button type="button" mat-icon-button [matMenuTriggerFor]="settingsMenu">
        <span class="text">
          <span [class]="getLanguageClass(selectedLanguage)"></span>
        </span>
      </button>

      <mat-menu #settingsMenu>
        <menu mat-menu-item *ngFor="let lang of langs" (click)="switchLanguage(lang)"><span [class]="getLanguageClass(lang)"></span> {{ getLanguageText(lang) }}</menu>
      </mat-menu>
    </div>
    <div class="copyright">{{ 'UI.Footer.Copyright' | translate }}</div>
  </div>
</main>