@import 'colors.scss';
@import 'fonts.scss';

.main {
    position: relative;

    .content {
        display: block;
    }

    .footer {
        display: flex;
        position: absolute;
        bottom: 8px;
        right: 16px;
        font-size: 12px;
        font-family: $font-poppinsRegular;
        color: $colors-white;
    }
}